<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="replyMapper">	<!-- 자바로 따지면 패키지명 -->

	<resultMap type="Reply" id="resultReply">
		<id column="rid" property="rid"/>
		<result column="rwriter" property="rwriter"/>
		<result column="rcontent" property="rcontent"/>
		<result column="ref_bid" property="ref_bid"/>
		<result column="r_create_date" property="r_create_date"/>
		<result column="r_modify_date" property="r_modify_date"/>
		<result column="r_status" property="r_status"/>
	</resultMap>
	

	<!-- 비교연산자를 쿼리문에 그냥 사용하면, 마이바티스에서 
		  태그 엘리먼트의 꺽쇠괄호 등(<, >, &) 와 혼동하는 문제가 발생할 수 있음
		  이 문제를 미리 방지하기 위해 xml 코드 중 xml parser 에 의해 해석하지 말고
		  문장 그대로 해석하라는 뜻으로 <![CDATA[ 쿼리문장 ]]> 사용함
	 -->

	
	<select id="selectReply" parameterType="_int" resultMap="resultReply">	<!-- 전달값을 받아서 처리하면 parameterType이 필요 -->
		select * from reply
		where rid = #{rid}
	</select>
	
	<select id="selectList" resultMap="resultReply" parameterType="_int"> <!-- parameterType="com.ict.spring.board.model.vo.Boardpage"에서 전달이 왔다 -->
			SELECT * FROM REPLY
			WHERE R_STATUS = 'Y' AND REF_BID = #{ REF_BID }
			ORDER BY RID ASC
	</select>
	
	<insert id="insertReply" parameterType="Reply">
		insert into reply
		values (seq_rid.nextval, #{ rcontent }, #{ ref_bid },
				#{ rwriter }, sysdate, sysdate, default)
	</insert>
	
	<update id="updateReply" parameterType="Reply">
		update reply
		set rcontent = #{ rcontent },
			r_modify_date = sysdate
		where rid = #{ rid }
	</update>
	
	<update id="changeRstatusN" parameterType="_int">		<!-- DML문에서는 returntype을 쓰지않는다? -->
		update reply
		set r_status = 'N',
			r_modify 
		where rid = #{ rid }	
	</update>
	
	<delete id="deleteReply" parameterType="_int">
		delete from reply
		where rid = #{ rid }
	</delete>
	
</mapper>